.inputbox {
font-size:12px;
background-image: url("quynhhuong.jpg");
color:#008dd0;
border:0px solid #99CCFF;

}
.truycap {
font-size:12px;
color:#344c62;
font-family: Tahoma;
}
.thoitiet {
font-size:12px;
color:#344c62;
font-family: Tahoma;
}
.inputboxdesignwebvn234 {
width: 99px;
font-size:12px;
background:#007ec4;
color:#f2f2f2;
border:1px solid #007ec4;

}